<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net48" />
  <package id="GitHub.ReleaseDownloader" version="0.1.2" targetFramework="net48" />
  <package id="JWT" version="8.9.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="17.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.16.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.16.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.16.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.1.0" targetFramework="net48" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NuGet.CommandLine" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="NuGet.Common" version="6.1.0" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.1.0" targetFramework="net48" />
  <package id="Octokit" version="0.50.0" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net48" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net48" />
  <package id="squirrel.windows" version="2.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.16.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TwitchLib.Client" version="3.2.4" targetFramework="net48" />
  <package id="TwitchLib.Client.Enums" version="3.2.4" targetFramework="net48" />
  <package id="TwitchLib.Client.Models" version="3.2.4" targetFramework="net48" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net48" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>